WebClient/Service References/TcpService7/Chiupin.Chen.Com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Chiupin.Chen.Com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Chiupin.Chen.Com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Chiupin.Chen.Com/Imports">
      <xsd:import namespace="Chiupin.Chen.Com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService7_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService7_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IService7_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_GetJuniorHighStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJuniorHighStudent" />
  </wsdl:message>
  <wsdl:message name="IService7_GetJuniorHighStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJuniorHighStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService7">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="Chiupin.Chen.Com/IService7/DoWork" message="tns:IService7_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="Chiupin.Chen.Com/IService7/DoWorkResponse" message="tns:IService7_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="Chiupin.Chen.Com/IService7/GetStudent" message="tns:IService7_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="Chiupin.Chen.Com/IService7/GetStudentResponse" message="tns:IService7_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJuniorHighStudent">
      <wsdl:input wsaw:Action="Chiupin.Chen.Com/IService7/GetJuniorHighStudent" message="tns:IService7_GetJuniorHighStudent_InputMessage" />
      <wsdl:output wsaw:Action="Chiupin.Chen.Com/IService7/GetJuniorHighStudentResponse" message="tns:IService7_GetJuniorHighStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>